footer {
    color: white;
}


.left_rectangle {
    font-size: 52px; 
    font-weight: bold; 
    color: lightblue;
}

.rounded-rectangle {
     color: blue;
     font-size: 45px; 
}

@media (max-width: 768px) {
    .adaptive-font {
        font-size: 1.5rem; 
    }
}



@media (min-width: 767px){
    .adaptive-font {
    font-size: 2.5rem; 
    }

}


.header_rectangle{
    color: red;
}
